@import url('style.css');

main {
    margin-top: 7%;
    margin-bottom: 10%;
    padding: 0;
    font-size: 18px;
    background-color: white;
    width: 100%;

}

#calendar {
    max-width: 95%;
    margin: 0 auto;
}